scripts/__pycache__
scripts/MotionCharacterization/__pycache__
scripts/MotionCorrection/__pycache__
scripts/other/__pycache__
scripts/SingleRunfMRIPrep/__pycache__

participant_data/*
!participant_data/.gitkeep

participant_runs/*
!participant_runs/.gitkeep

run_pipeline/config_files
!run_pipeline/config_files/TEMPLATE_CONFIG.env


