scripts/__pycache__
scripts/1-MotionCharacterization/__pycache__
scripts/2-MotionCorrection/__pycache__
scripts/Other/__pycache__
scripts/fMRIPrep/__pycache__

scripts/fMRIPrep/input_directory 
!scripts/fMRIPrep/input_directory/dataset_description.json
scripts/fMRIPrep/output_directory/
!scripts/fMRIPrep/output_directory/.gitkeep
scripts/fMRIPrep/tmp_directory/
!scripts/fMRIPrep/tmp_directory/.gitkeep

participant_data/*
!participant_data/.gitkeep

participant_runs/*
!participant_runs/.gitkeep

run_pipeline/config_files
!run_pipeline/config_files/TEMPLATE_CONFIG.env


