[submodule "scripts/MotionCharacterization/sms-mi-reg"]
	path = scripts/MotionCharacterization/sms-mi-reg
	url = git@github.com:ComputationalRadiology/sms-mi-reg.git
        ignore = dirty
[submodule "scripts/MotionCharacterization/motion-monitor"]
	path = scripts/MotionCharacterization/motion-monitor
	url = git@github.com:josh-auger/motion-monitor.git
[submodule "scripts/MotionCorrection/rsfMRI_SMC_mc"]
	path = scripts/MotionCorrection/rsfMRI_SMC_mc
	url = git@github.com:MeghanW23/rsfMRI_SMC_mc.git
