#
# ----- Copy this file and edit variables below --------
# 

# Input either
# DICOM_DIRECTORY_PATH
# OR
# NIFTI_IMAGE_PATH and JSON_FILE_PATH
DICOM_DIRECTORY_PATH=
NIFTI_IMAGE_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/runs_and_data/participant_data/p001-ses-01-task_func-bold_task-taskname_20010101010101_01.nii.gz 
JSON_FILE_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/runs_and_data/participant_data/p001-ses-01-task_func-bold_task-taskname_20010101010101_01.json


# Working directory for files that are less important / temporary. The program will create this directory if it doesn't exist.
# NOTE: Please make sure this directory path ends with the '/' character.
WORKING_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/runs_and_data/participant_runs/p001-ses-01-task_working/


# Output directory for more important files / results. The program will create this directory if it doesn't exist.
# NOTE: Please make sure this directory path ends with the '/' character.
OUTPUT_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/runs_and_data/participant_runs/p001-ses-01-task_outputs/


# SERIES_NUMBER is the sequence of the desired task (the one that will be used by dcm2niix).
#
# Ex: '15' for dicom_dir_func-bold_task-preRIFG_20250827181314_15.nii.gz 
# and dicom_dir_func-bold_task-preRIFG_20250827181314_15.json".
#
# It will select all nifti and json files in the working directory if left empty.
#
# NOTE: SERIES_NUMBER is only needed if inputting a path for DICOM_DIRECTORY_PATH. 
# You can leave this empty if your data is a single run in NifTI format.
SERIES_NUMBER=


# TASK_NAME is the task name of the desired task.
#
# For motion characterization:
#   TASK_NAME is only needed if inputting a path for DICOM_DIRECTORY_PATH. 
#   You can leave this empty if your DICOM Directory is a single run in NifTI format.
#   TASK_NAME must match the value in the DICOM metadata key: 'SeriesDescription'. 
#   If you don't have this key in your DICOM files, don't use TASK_NAME.
#
# If running fMRIPrep:
#   TASK_NAME will be used when renaming the functional data to be BIDs compliant.
#   If left empty, fMRIprep will extract it from the JSON file like this:
#       task_name = json.load(json_file)['ProtocolName'].replace('func-bold_task-', '')
#   If this extraction method does not work for your data, make sure to fill in TASK_NAME here.
TASK_NAME=


# The motion threshold for how much motion is "too much".
# NOTE: input the desired fraction of the width of a voxel. 
# Ex. 50 if you want the threshold to be 50% the width of a single voxel.
MOTION_THRESHOLD=25


# Enter information for REFERENCE_VOLUME_INDEX, REFERENCE_VOLUME_PATH, or neither. 
# Do not enter information for both.
#
# If the first volume in your timeseries has intra-volume motion, (this happens 
# approx. 20% of the time ) use a different reference volume.
# If you are not sure what reference volume is best, leave both blank
# and the GET_REFERENCE_VOLUME_SCRIPT_PATH will select the reference volume.
#
# REFERENCE_VOLUME_PATH can be used if you have an already-existing 3d reference 
# volume file that you'd like to set as the reference volume.
REFERENCE_VOLUME_PATH=
# REFERENCE_VOLUME_INDEX is the index of the desired 3D reference volume.
# NOTE: The provided index must be zero-indexed. For example:
# REFERENCE_VOLUME_INDEX=51 if you want the fiftieth volume in the timeseries 
# to be the reference volume. 
REFERENCE_VOLUME_INDEX=


# ---------- If runnning fMRIPrep ----------

# Set to 'True' if you want to run fmriprep,
# leave empty (or set to anything but 'True') if not.
RUN_FMRIPREP=True           


# --- Participant Information --- 
# Input PARTICIPANT_ID as integer value.
FMRIPREP_PARTICIPANT_ID=1   
# Input FMRIPREP_SESSION_ID as integer value.
FMRIPREP_SESSION_ID=1    
# Input RUN_NUM as integer value. This is only needed if this
# config file shares both a PARTICIPANT_ID and FMRIPREP_SESSION_ID 
# with another config file you are running.   
FMRIPREP_RUN_NUM=          


# --- Anatomical Inputs ---
# Input either 
# INPUT_ANAT_DICOM_DIRECTORY
# OR
# T1W_IMAGE_PATH and T1W_JSON_PATH (and optionally: T2W_IMAGE_PATH and T2W_JSON_PATH)
INPUT_ANAT_DICOM_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/subject_data/p001/ses-01/anat
T1W_IMAGE_PATH= 
T1W_JSON_PATH= 
T2W_IMAGE_PATH=         # Optional
T2W_JSON_PATH=          # Optional


# --- Functional Inputs ---
# The inputted functional image to run fmriprep on.
# If left empty, we will use the output nifti image
# from the motion correction software in the OUTPUT_DIRECTORY.
FMRIPREP_FUNC_IMAGE_PATH=
# The JSON metadata of the functional image inputted to fmriprep.
# If left empty, we search for a JSON file in the OUTPUT_DIRECTORY.
FMRIPREP_FUNC_JSON_PATH=



#--------------------------------------------------------------------------------
# The below configurations shouldn't have to be edited 
#--------------------------------------------------------------------------------

# Script and script directory paths
RUN_PIPELINE_SCRIPT=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/run_pipeline/pipeline_scripts/run_pipeline.py
GET_REFERENCE_VOLUME_SCRIPT_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/run_pipeline/pipeline_scripts/get_reference_volume.py

MCORR_MAIN_SCRIPT_DIR=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/rsfMRI_SMC_mc/main_scripts/
MCORR_MAIN_SCRIPT=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/rsfMRI_SMC_mc/main_scripts/main_cameraparams.m
MCORR_OPERATORS_DIR=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/rsfMRI_SMC_mc/operators/
MCORR_DIRECT_LIFTANDUNLIFT_CODES_DIR=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/rsfMRI_SMC_mc/direct-liftandunlift-codes/
MCORR_ABRUPTMOTION_FILE_NAME=recon_abruptmotion.nii.gz

# A file matching MCORR_OUTPUT_FILENAME_PATTERN is created when displacement > MOTION_THRESHOLD.
# If displacement < MOTION_THRESHOLD, it will run fmriprep on the original, raw data.
MCORR_OUTPUT_FILENAME_PATTERN=recon_scrub_betainit1_*.nii.gz

# Conda paths
CONDA_ENV_NAME=intravolume_motion_pipeline_env
CONDA_INIT_PATH=/lab-share/Neuro-Cohen-e2/Public/software/miniforge3/etc/profile.d/conda.sh
CONDA_ENV_PYTHON_PATH=/lab-share/Neuro-Cohen-e2/Public/environment/conda/intravolume_motion_pipeline_env/bin/python 

# Other software paths (some may only exist on compute nodes)
SMS_MI_REG_EXECUTABLE_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/sms-mi-reg/build/sms-mi-reg
MATLAB_INSTALLATION_PATH=/programs/local/MATLAB/R2022b/bin/matlab 
DCM2NIIX_PATH=/lab-share/Neuro-Cohen-e2/Public/software/fsl/bin/dcm2niix
BIOGRIDS_PATH=/programs/biogrids.shrc
DCMDJPEG_PATH=/programs/x86_64-linux/system/biogrids_bin/dcmdjpeg

# fMRIPrep Paths
FMRIPREP_CONTAINER_PATH=/lab-share/Neuro-Cohen-e2/Public/containers/fmriprep-23.1.3.simg
FMRIPREP_TEMPLATEFLOW_DIRECTORY=/lab-share/Neuro-Cohen-e2/Public/templateflow/
FMRIPREP_LICENSE_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/license.txt
FMRIPREP_TMP_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/tmp_directory
FMRIPREP_INPUT_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/input_directory
FMRIPREP_DATASET_JSON_PATH=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/input_directory/dataset_description.json
FMRIPREP_OUTPUT_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/output_directory
FMRIPREP_WORKING_DIRECTORY=/lab-share/Neuro-Cohen-e2/Groups/IRB-P00049401/mw_motion_pipeline/fmriprep/output_directory/fmriprep_working_directory